<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
    
    <title>Database SoundSleep App</title>

  </head>

  <body>

    <h1>Manager Music MongoDB</h1>

    <div></div>
    <table id="customers", style="width:100%">
      <tr>
        <th style="width:5%">ID</th>
        <th style="width:10%">Name</th>
        <th style="width:20%">URL Music</th>
        <th>Image</th>
        <th style="width:5%">Edit</th>

      </tr>
      <form action="/addData" method="POST">
        <input type="inputID" placeholder="ID" name="id" />
        <input type="text" placeholder="Name" name="name" />
        <input type="text" placeholder="URL Music" name="musicURL" />
        <input type="text" placeholder="URL Image" name="imgURL" /> 
        <button type="submit">Submit</button>
      </form>

      <% for(var i = 0; i < quotes.length; i++) {%>
        <tr>
          <td><%= quotes[i].id %></td>
          <td><%= quotes[i].name %></td>
          <td><%= quotes[i].musicURL %></td>
          <td>
            <img src= <%= quotes[i].imgURL %>
            style="width:140px;height:140px;">
          </td>
          <td>
            <button id="delete-button" class="delete" value= <%= quotes[i].name %> >
               Delete <%= quotes[i].name %> </button>
          </td>
        </tr>
      <% } %>
    </table>
    <script type="module" src="/main.js"></script>
  </body>
</html>